.contact {
  width: 100%;
  min-height: calc(100vh - clamp(9rem, 8vw, 16rem) - clamp(6rem, 8vw, 10rem));
  padding: 0 2rem;
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  margin: auto;
  margin-bottom: clamp(6rem, 8vw, 10rem);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
.image {
  width: clamp(300px, 42.9vw, 865px);
  height: clamp(300px, 42.9vw, 865px);
}

.image img {
  width: 100%;
  height: auto;
}

.right_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  place-items: flex-start;
  position: relative;
  top: 0;
  margin: 0 2.2rem;
}

.welcome {
  font-size: clamp(1.5rem, 2.2vw, 3.6rem);
  width: 100%;
  text-align: center;
  padding-bottom: 90px;
  padding-top: 90px;
}

.color {
  color: var(--extraColor);
}

@media (max-width: 1280px) {
  .right_container {
    display: flex;
    flex-direction: column;
    align-self: center;
    place-items: center;
  }
}
