.languages {
  margin-top: clamp(0.2rem, 0.4vw, 0.8rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.switcher {
  font-size: clamp(1.6rem, 1.6vw, 1.8rem);
  font-weight: 400;
  text-transform: uppercase;

  letter-spacing: 0.05rem;
  color: var(--darkColor);

  background-color: transparent;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 100%;
}

.separator {
  margin: 0 clamp(0.2rem, 0.6vw, 0.6rem);
  font-size: 1.4rem;
  color: var(--darkColor);
  line-height: 100%;
}

.selectedButton {
  color: var(--extraColor);
}
