.noise_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  z-index: -1;
  border-radius: 0.5rem;
  filter: opacity(0.8) blur(1.1px);
}
